requests>=2.32.3
langchain
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-aws
langchain-community
langchain-ollama
langchain-azure-ai
nemoguardrails
boto3
langchain_guardrails
langgraph_utils
